<%= form_for composer, :remote => true do |f| %>

  <div class="header">
    <div class="bread_crumbs"><%= form_title %></div>
  </div>

  <div class="body">

    <div class="sidebar">
      <div class="flash_notice" data-error-info="true"></div>
      <div class="error" data-error-display="true"></div>
    </div>

    <dl>
      <dt><%= f.label :name, t(:name) %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt><%= f.label :century, t(:century) %></dt>
      <dd><%= f.text_field :century %></dd>
    </dl>

    <%= submit_tag t(:submit) %>
    <div class="clear"></div>

  </div>

<% end %>
