<div class="header">
  <div class="bread_crumbs"><%="#{t(:composer)} #{@composer.name}"%></div>
</div>

<div class="body">

  <div class="sidebar">
    <div class="flash_notice" data-error-info="true"></div>
    <div class="error" data-error-display="true"></div>
  </div>

  <dl>
    <dt><%=t(:name)%></dt>
    <dd><%=@composer.name %></dd>
    <dt><%=t(:century)%></dt>
    <dd><%=@composer.century%></dd>
    <dt><%=t(:info)%></dt>
    <dd><%=@composer.info%></dd>
  </dl>

</div>
