<%= form_tag 'create' , :remote => true do %>
  <div class="left">

    <div class="header">
      Song
    </div>

    <div class="body">
      <div class="section">
        <div class="title">
          <%= label_tag "song_song_type_id", "Song Type" %>
        </div>
        <div class="input">
          <%= select_tag "song[song_type_id]" , options_for_select(@song_types.collect{ |type| [type.name, type.id] }), :include_blank => "-select-" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_name", "Name" %>
        </div>
        <div class="input">
          <%= text_field_tag "song[name]" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_composer_id", "Composer" %>
        </div>
        <div class="input">
          <%= select_tag "song[composer_id]" , options_for_select(@composers.collect{ |composer| [composer.name, composer.id] }), :include_blank => "-select-" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_ragam_id", "Ragam" %>
        </div>
        <div class="input">
          <%= select_tag "song[ragam_id]" , options_for_select(@ragams.collect{ |ragam| [ragam.name, ragam.id] }), :include_blank => "-select-" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_talam_id", "Talam" %>
        </div>
        <div class="input">
          <%= select_tag "song[talam_id]" , options_for_select(@talams.collect{ |talam| [talam.name, talam.id] }), :include_blank => "-select-" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_description", "Description" %>
        </div>
        <div class="input">
          <%= text_area_tag "song[description]" %>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div id="flash_notice" style="color:red;">
      <%= flash[:notice] %>
    </div>

    <div id='content'>
      <%= render :partial => "create_instruction" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  var editor = new Song.Editor($('content'), $('song_song_type_id'), <%= "'#{editor_songs_path}'" %> );
</script>
