<%= form_tag 'create' , :remote => true, :id => "create_song" do %>

  <div class="left">

    <div class="header">
      Song
    </div>

    <div class="body">
      <div class="section">
        <div class="title">
          <%= label_tag "song_song_type_id", "Song Type" %>
        </div>
        <div class="input">
          <%= select_tag "song[song_type_id]" , options_for_select(@song_types.collect{ |type| [type.name, type.id] }), :include_blank => "-select-" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_name", "Name" %>
        </div>
        <div class="input">
          <%= text_field_tag "song[name]" %>
        </div>
      </div>

      <div class="section">
        <%= auto_complete({:label => "composer", :name => "song[composer_id]", :url => suggest_composer_path}) %>
      </div>

      <div class="section">
        <%= auto_complete({:label => "ragam", :name => "song[ragam_id]", :url => suggest_ragam_path}) %>
      </div>

      <div class="section">
        <%= auto_complete({:label => "talam", :name => "song[talam_id]", :url => suggest_talam_path}) %>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_description", "Description" %>
        </div>
        <div class="input">
          <%= text_area_tag "song[description]" %>
        </div>
      </div>
    </div>

    <div class="footer">
    </div>
  </div>

  <div class="right">
    <div id="flash_notice" style="color:red;">
      <%= flash[:notice] %>
    </div>
    <%= editor :class => "editor", :url => editor_songs_path, :song_type => "song_song_type_id" do %>
      <%= render :partial => "create_instruction" %>
    <% end %>
  </div>

  <div class="clear"></div>

<% end %>

<script type="text/javascript">

  var remote_form = $('create_song').observe("ajax:complete", function(data) {
  });

</script>
