<div class="left">

  <div class="header">
      Song
  </div>

  <div class="body">
    <%= form_tag 'create' do %>
      <div class="section">
        <div class="title">
          <%= label_tag "song_song_type_id", "Song Type" %>
        </div>
        <div class="input">
          <%= select_tag "song[song_type_id]" , options_for_select(@song_types.collect{ |type| [type.name, type.id] }), :include_blank => "-select-" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_name", "Name" %>
        </div>
        <div class="input">
          <%= text_field_tag "song[name]" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_composer_id", "Composer" %>
        </div>
        <div class="input">
          <%= select_tag "song[composer_id]" , options_for_select(@composers.collect{ |composer| [composer.name, composer.id] }), :include_blank => "-select-" %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_ragam", "Ragam" %>
        </div>
        <div class="input">
          <%= text_field_tag "song[ragam]" %>
          <div id="song_ragam_completion" class="auto_completion"></div>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_talam", "Talam" %>
        </div>
        <div class="input">
          <%= text_field_tag "song[talam]" %>
          <div id="song_talam_completion" class="auto_completion"></div>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag "song_description", "Description" %>
        </div>
        <div class="input">
          <%= text_area_tag "song[description]" %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="footer">
  </div>

</div>

<div class="right">
  <div style="color:red;">
    <%= flash[:error] %>
  </div>

  <div id='content'>
    <%= render :partial => "create_instruction" %>
  </div>
</div>

<script type="text/javascript">
  var editor = new Song.Editor($('content'), $('song_song_type_id'), <%= "'#{editor_songs_path}'" %> );
  var ragamAutoComplete = new Ajax.Autocompleter('song_ragam',
      'song_ragam_completion', <%= "'#{suggest_ragam_path}'" %>, {method: "get", paramName: "name"}
      );
  var talamAutoComplete = new Ajax.Autocompleter('song_talam',
      'song_talam_completion', <%= "'#{suggest_talam_path}'" %>, {method: "get", paramName: "name"}
      );
</script>
