<%= form_tag 'create' , :remote => true, :id => "create_song" do %>

  <div class="left">

    <div class="header">
      <%= t :song %>
    </div>

    <div class="body">

      <div class="section">
        <div class="title">
          <%= label_tag :name, t(:name) %>
        </div>
        <div class="input">
          <%= text_field_tag :name %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag :song_type, t(:song_type) %>
        </div>
        <div class="input">
          <%= select_tag :song_type , options_for_select(@song_types.collect{ |type| [type.name, type.id] }), :include_blank => "-#{t :select}-" %>
        </div>
      </div>

      <div class="section">
        <%= auto_complete :label => t(:composer), :field_name => "composer", :name => "composer_id", :url => suggest_composer_path %>
      </div>

      <div class="section">
        <%= auto_complete :label => t(:ragam), :field_name => "ragam", :name => "ragam_id", :url => suggest_ragam_path %>
      </div>

      <div class="section">
        <%= auto_complete :label => t(:talam), :field_name => "talam", :name => "talam_id", :url => suggest_talam_path %>
      </div>

      <div class="section">
        <div class="title">
          <%= label_tag :description, t(:description) %>
        </div>
        <div class="input">
          <%= text_area_tag :description %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="error" data-error-display="true">
      </div>
    </div>

  </div>

  <div class="right">

    <div class="flash_notice" data-error-info="true">
    </div>

    <div class="song_editors" data-song-editor="true" data-song-editor-url="<%= editor_songs_path %>">
      <div class="section">
        <h2><%= label_tag :content, t(:content) %></h2>
      </div>
      <%= render :partial => "editor" %>
    </div>

    <%= submit_tag t(:submit) %>

  </div>

  <div class="clear"></div>

<% end %>
