<% form_tag '/new' do %>
  <fieldset class="song">
    <div class="name">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div class="type">
      <%= label_tag :type %>
      <%= select_tag :type , options_for_select(@song_types) %>
    </div>
    <div class="composer">
      <%= label_tag :composer %>
      <%= select_tag :composer , options_for_select(@composers) %>
    </div>
    <div id='content'></div>
  </fieldset>
<% end %>

<script type="text/javascript">
  var editor = new Song.Editor($('content'), $('type'), <%= "'#{editor_songs_path}'" %> );
</script>
