<%= form_for talam, :remote => true do |f| %>

  <div class="header">
    <div class="bread_crumbs"><%= form_title %></div>
  </div>

  <div class="body">

    <div class="sidebar">
      <div class="flash_notice" data-error-info="true"></div>
      <div class="error" data-error-display="true"></div>
    </div>

    <dl>
      <dt><%= f.label :name, t(:name) %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt><%= f.label :avartanam, t(:avartanam) %></dt>
      <dd><%= f.text_field :avartanam %></dd>
      <dt><%= f.label :laghu_length, t(:laghu_length) %></dt>
      <dd><%= f.text_field :laghu_length %></dd>
    </dl>

    <%= submit_tag t(:submit) %>
    <div class="clear"></div>

  </div>


<% end %>
