<%= form_for ragam, :remote => true do |f| %>

  <div class="left">

    <div class="header">
      <%= t :ragam %>
    </div>

    <div class="body">

      <div class="section">
        <div class="title">
          <%= f.label :name, t(:name) %>
        </div>
        <div class="input">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= f.label :arohana, t(:arohana) %>
        </div>
        <div class="input">
          <%= f.text_field :arohana %>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <%= f.label :avarohana, t(:avarohana) %>
        </div>
        <div class="input">
          <%= f.text_field :avarohana %>
        </div>
      </div>

      <div class="section">
        <% parent_ragam_name = ragam.parent.nil? ? nil : ragam.parent.name %>
        <%= auto_complete :label => t(:parent), :field_name => "parent", :name => "parent_id", :url => suggest_ragam_path, :value => parent_ragam_name, :form_helper => f %>
      </div>

    </div>

    <div class="footer">
      <div class="error" data-error-display="true">
      </div>
    </div>

  </div>

  <div class="right">

    <div class="flash_notice" data-error-info="true">
    </div>

    <div>
      <div class="section">
        <h2><%= f.label :description, t(:description) %></h2>
      </div>
      <div class="section editor">
        <%= f.text_area :description, :class => "rich_editor" %>
      </div>
    </div>

    <%= submit_tag t(:submit) %>

  </div>

  <div class="clear"></div>

<% end %>
