<%= form_for ragam, :remote => true do |f| %>

  <% parent_ragam_name = ragam.parent.nil? ? nil : ragam.parent.name %>

  <div class="header">
    <div class="bread_crumbs"><%= form_title %></div>
  </div>

  <div class="body">

    <div class="sidebar">
      <div class="flash_notice" data-error-info="true"></div>
      <div class="error" data-error-display="true"></div>
    </div>

    <dl>
      <dt><%= f.label :name, t(:name) %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt><%= f.label :arohana, t(:arohana) %></dt>
      <dd><%= f.text_field :arohana %></dd>
      <dt><%= f.label :avarohana, t(:avarohana) %></dt>
      <dd><%= f.text_field :avarohana %></dd>
    </dl>

    <%= auto_complete :label => t(:parent), :field_name => "parent", :name => "parent_id", :url => suggest_ragam_path, :value => parent_ragam_name, :form_helper => f %>

    <dl>
      <dt><%= f.label :description, t(:description) %></dt>
      <dd><%= f.text_area :description, :class => "rich_editor" %></dd>
    </dl>

    <%= submit_tag t(:submit) %>
    <div class="clear"></div>

  </div>

<% end %>
