<div class="header">
  <div class="action">
    <%= link_to t(:new_ragam), new_song_path %>
  </div>
  <div class="bread_crumbs"><%= t(:ragam) %></div>
  <div class="clear"></div>
</div>

<div class="body">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Arohana</th>
        <th>Avarohana</th>
        <th>Parent</th>
      </tr>
    </thead>
    <tbody>
      <% @ragams.each do |ragam| %>
        <tr>
          <td><%= link_to ragam.name, edit_ragam_path(ragam) %></td>
          <td><%= ragam.arohana %></td>
          <td><%= ragam.avarohana %></td>
          <td><%= ragam.parent.nil? ? "" : ragam.parent.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
