<% parent_ragam_name = @ragam.parent.nil? ? nil : @ragam.parent.name %>

<div class="header">
  <div class="bread_crumbs"><%="#{t :ragam} #{@ragam.name}"%></div>
</div>

<div class="body">

  <div class="sidebar">
    <div class="flash_notice" data-error-info="true"></div>
    <div class="error" data-error-display="true"></div>
  </div>

  <dl>
    <dt><%= t(:name) %></dt>
    <dd><%= @ragam.name %></dd>
    <dt><%= t(:arohana) %></dt>
    <dd><%= @ragam.arohana %></dd>
    <dt><%= t(:avarohana) %></dt>
    <dd><%= @ragam.avarohana %></dd>
    <dt><%= t(:parent) %></dt>
    <dd><%= parent_ragam_name %></dd>
    <dt><%= t(:description) %></dt>
    <dd><%= @ragam.description %></dd>
  </dl>

</div>
