<!DOCTYPE html>
<html>
<head>
  <title>Karaharapriya</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <% javascript_include_tag "https://www.google.com/jsapi?key=ABQIAAAABFSWlP7TORN_QUoJYaDYXxR1iNzBUkafRrQ9OvFJPsgJAkAYMRTMcz7FXqb0G79w3H4-1UM2ytfW6Q" %>
  <%= stylesheet_link_tag "yui/sam/skin.css" %>
  <%= javascript_include_tag "yui/yahoo-dom-event/yahoo-dom-event.js "%>
  <%= javascript_include_tag "yui/element/element-min.js "%>
  <%= javascript_include_tag "yui/container/container_core-min.js "%>
  <%= javascript_include_tag "yui/menu/menu-min.js "%>
  <%= javascript_include_tag "yui/button/button-min.js "%>
  <%= javascript_include_tag "yui/editor/editor-min.js "%>
  <%= csrf_meta_tag %>
</head>
<body class="yui-skin-sam">

  <div class="content">
    <div class="header">
        <div class="logo">
        </div>
    </div>
    <div class="body">
      <div class="menu">
        <%= render_navigation %>
      </div>

      <div class="page_content">
        <%= yield %>
        <div class="clear"></div>
      </div>

    </div>
    <div class="footer">
    </div>
  </div>

</body>
</html>

<script type="text/javascript">

  //Load the Language API.
  //google.load("language", "1");
  //google.load("elements", "1", {packages: "transliteration", "nocss" : true});

</script>
